.addbox {
    width: 650px;
   
    box-sizing: border-box;
    background: lightblue;
    color: black;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-40%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 7%;
}