
<h1 style="font-family:  Calibri, 'Trebuchet MS', sans-serif;text-align: center;"> SHOW PROMOCODE</h1>
<nav class="navbar navbar-inverse bg-dark">
  <div class="container-fluid">
      <div class="navbar-header"><span class="navbar-brand" style="color: whitesmoke;"><strong>Capstore</strong></span>
      </div>
      <ul class="nav navbar-nav">
          <li style="color: whitesmoke;"><a href="/admin">Admin</a></li>
      </ul>
  </div>
</nav>
<div class="container">
  
    <div [hidden]="submitted">
      
       
        <div class="panel-body">
          <div class="error">
            <div *ngIf="error">{{error}}</div><br>
          </div>
            <table class="table table-striped table-hover" style="color:indigo" >
              <thead>
                <tr>
                    <th>Coupon Id</th>
                    <th>Coupon Code</th>
                    <th>Coupon Start Date</th>
                    <th>Coupon End Date</th>
                    <th>Coupon Amount</th>
                    <th>Coupon Min Order Amount</th>
                    <th><input type="any" name="searchTerm" id="myInput" style="width: 300px;" placeholder="Search..." [(ngModel)]=searchTerm/>&nbsp;&nbsp;
                    </th> 
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of coupon | filter:searchTerm ">
                    <td>{{c.couponId}}</td>
                    <td>{{c.couponCode}}</td>
                    <td>{{c.couponStartDate}}</td>
                    <td>{{c.couponEndDate}}</td>
                    <td>{{c.couponAmount}}</td>
                    <td>{{c.couponMinOrderAmount}}</td>
                    <td><button (click)="deletePromocode(c.couponId)" class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
            </table>
        </div>
        
        </div>
<button (click)="back()"  class="btn btn-secondary" style="margin-left: 10px">Back</button>



